.tiles-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
}

.tile {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

@media (max-width: 1024px) {
    .tile {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .tile {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
}

.tile-inner {
    position: relative;
    height: 100% !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    overflow: hidden;
}

.tile-inner.dimmed .tile-body {
    background-color: #eee;
}

.tile-inner.dimmed .tile-header a::before {
    position: absolute;
    top: 2rem;
    right: -3rem;
    left: auto;
    width: 12rem;

    color: [[setting:fontcolor]] !important;
    background: #eee;
    border: 1px solid #DFDFDF;
    box-shadow: 0 0 0.75rem rgba(0,0,0,.3);

    content: 'Курс скрыт';
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 1px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.tile-inner.dimmed .tile-header a:hover::before {
    color: [[setting:fontcolor]] !important;
}

.tile-header {
    height: 200px;
    width: 100%;
}

.tile-header a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #DFDFDF;
}

.tile-header img {
    height: 100%;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    object-fit: cover;
}

.tile-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.tile-link {
    float: right;
    text-align: right;
    width: 24px;
    height: 24px;
}

.tile-title {
    margin-bottom: 0;
}

/* PopUp */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.overlay .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.popup {
    position: relative;
    margin: 64px auto;
    max-width: 980px;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.popup-header .close {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}

.popup-header .close:hover {
    opacity: 1;
}

.popup-content {
    max-height: 350px;
    overflow: auto;
}
